:root {
  --primary: #8ecae6;
  --secondary: #219ebc;
  --tertiary: #023047;
  --quaternary: #ffb703;
  --quinary: #fb8500;
}

.bg-custom-primary{
  background-color: var(--primary);
  color: var(--tertiary);
}

.text-custom{
  color: var(--tertiary);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
