:root {
  --primary: #8ecae6;
  --secondary: #219ebc;
  --tertiary: #023047;
  --quaternary: #ffb703;
  --quinary: #fb8500;
}

.bg-custom-primary{
  background-color: var(--primary);
}

.bg-custom-secondary{
  background-color: var(--secondary);
}

.bg-custom-tertiary{
  background-color: var(--tertiary);
}

.bg-custom-quaternary{
  background-color: var(--quaternary);
}

.bg-custom-quinary{
  background-color: var(--quinary);
}

.text-custom-primary{
  color: var(--primary);
}

.text-custom-secondary{
  color: var(--secondary);
}
.text-custom-tertiary{
  color: var(--tertiary);
}
.text-custom-quaternary{
  color: var(--quaternary);
}

.text-custom-quinary{
  color: var(--quinary);
}

.custom-padding{
  padding: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}